.home {
  .bg {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .flex-horizontal-center {
    justify-content: space-between;
  }

  .light-pink-orange-gradient {
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      -0.45turn,
      #fc6170,
      #fec277
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      -0.45turn,
      #fc6170,
      #fec277
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .pink-orange-gradient {
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      -0.45turn,
      #ff512f,
      #dd2476
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      -0.45turn,
      #ff512f,
      #dd2476
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .teal-blue-gradient {
    background: #348f50; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      -0.45turn,
      #348f50,
      #56b4d3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      -0.45turn,
      #348f50,
      #56b4d3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .purple-pink-gradient {
    background: #aa076b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      -0.45turn,
      #aa076b,
      #61045f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      -0.45turn,
      #aa076b,
      #61045f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .blue-dark-blue-gradient {
    background: #24c6dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      -0.45turn,
      #24c6dc,
      #514a9d
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      -0.45turn,
      #24c6dc,
      #514a9d
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
